@charset "UTF-8";

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GmarketSansMedium";
}

/* 반응형 */

@media all and (max-width: 1023px) {
  html {
    font-size: 50%;
  }

  /* 검색 바*/
  .wg_13 .wg_top {
    width: 60%;
  }

  .wg_13 .ht_search2 {
    width: 65%;
  }

}


.wg_13 {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 50px;
}

@media all and (max-width: 1023px) {

  /* 검색 바*/
  .wg_13  {
    margin: 0 auto;
  }


}


.wg_13 .wg_top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  
}

.wg_13 .wg_top .wg_title {
  display: flex;
  width: 231px;
  height: 100px;
  align-items: center;
  text-align: center;
}

.wg_13 .wg_top .wg_title p {
  width: 100%;
  font-weight: 800;
  font-size: 3rem;
  align-items: center;
  text-align: center;
  margin: 0;
}

.wg_13 .ht_search2 .ht_22 {
  display: flex;
}

.wg_13 .ht_search2 input {
  width: 829px;
  height: 50px;
  border: 3px solid #753422;
  border-radius: 30px;
}

.wg_13 .ht_search2 button {
  width: 50px;
  height: 50px;
  border: 3px solid #753422;
  border-left: none;
  border-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: rgb(255, 255, 255);
  position: relative;
  transform: translateX(-23px);
}

.wg_13 .ht_search2 button img{
  width: 23px;
  height: 23px;
  transform: translatey(-4px);
}

/* slide-box */


.wg_13 #visual {
  position: relative;
  width: 1110px;
  height: 200px;
  margin: 0 auto;
  margin-top: 30px;
  overflow: hidden;           
  border-radius: 20px;
}      

@media (max-width:1023px) {
  .wg_13 #visual {
    width: 85%;
    height: 150px;
    margin-bottom: 20px;
  }
}

.wg_13 #visual>div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
  opacity: 0;
}
.wg_13 #visual>div.on{
  opacity: 1;
}
.wg_13 #control { 
  position: absolute;
  width: 100%;
  bottom: 30px;
  text-align: center;      
}

.wg_13 #control a {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #f6f5f5;                       
  line-height: 26px;
  font-size: 0.8em;
  border-radius: 14px;
  margin: 0 2px;
}

@media (max-width:1023px) {
  .wg_13 #control a {
    display: none;
  }
}

.wg_13 #control a.on {
  background: #D79771;
}
.wg_13 div#left>span:first-child{
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 5px;
  background-color: #D79771;
  border-radius: 10px;
  transform: translateY(50px) rotate(50deg);  
}

.wg_13 div#left>span:last-child{
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: #D79771;
  border-radius: 10px;
  transform: translateY(30px) rotate(-50deg);  
}

.wg_13 div#left:hover span{
  background-color: #fff;
  transition: 0.2s ease;
}


.wg_13 div#left{
  position: absolute;
  width: 50px;
  height: 100px;
  top: 50%;
  left: 2.5%;
  transform: translate(0%, -50%);
  cursor: pointer;
  opacity: 0;
  transition: .4s ease;
}

.wg_13 div#right{
  position: absolute;
  width: 50px;
  height: 100px;
  top: 50%;
  right: 1.5%;
  transform: translate(0%, -50%);
  cursor: pointer;
  opacity: 0;
  transition: .4s ease;
}


.wg_13 div#right>span:first-child{
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 5px;
  background-color: #D79771;
  border-radius: 10px;
  transform: translateY(50px) rotate(-50deg);  
}

.wg_13 div#right>span:last-child{
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: #D79771;
  border-radius: 10px;
  transform: translateY(30px) rotate(50deg);  
}

.wg_13 div#right:hover span{
  background-color: #fff;
  transition: 0.2s ease;
}

/* 카드 */

.wg_13 .wg6_bottom {
  width: 1110px;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .wg_13 .wg6_bottom {
      width: 85%;
      
  }
}

.wg_13 .wg6_bottom .wg6b_ca {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.wg_13 .wg6_bottom .wg6b_ca .wgc6_card {
  width: 520px;
  height: 300px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

@media (max-width: 1023px) {
  .wg_13 .wg6_bottom .wg6b_ca .wgc6_card {
      width: 48%;
      height: 230px;
  }
}

.wg_13 .wg6_bottom .wg6b_ca .wgc6_card:hover {
  box-shadow: 5px 5px 10px rgba(117, 52, 34, 0.8);
}

.wg_13 .wg6_bottom .wg6b_ca .wgc6_card a {
text-decoration: none;
}

.wg_13 .wg6_bottom .wg6b_ca .wgc6_card .card_img {
  width: 520px;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}

@media (max-width: 1023px) {
  .wg_13 .wg6_bottom .wg6b_ca .wgc6_card .card_img {
      width: 100%;
      height: 150px;
  }
}


.wg_13 .wg6_bottom .wg6b_ca .wgc6_card img {
  width: 520px;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}

@media (max-width: 1023px) {
  .wg_13 .wg6_bottom .wg6b_ca .wgc6_card img {
      width: 100%;
      height: 150px;
  }
}


.wg_13 .wg6_bottom .wg6b_ca .wgc6_card .card_text{
  width: 520px;
  height: 100px;
}

@media (max-width: 1023px) {
  .wg_13 .wg6_bottom .wg6b_ca .wgc6_card .card_text {
      width: 100%;
      height: 80px;
  }
}

.wg_13 .wg6_bottom .wg6b_ca .wgc6_card .card_text .ct_1,
.wg_13 .wg6_bottom .wg6b_ca .wgc6_card .card_text .ct_2,
.wg_13 .wg6_bottom .wg6b_ca .wgc6_card .card_text .ct_3 {
  width: 100%;
  height: 33%;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 800;
  padding-left: 20px;
  color: black;
}

.wg_13 .wg6_bottom .wg6b_ca .wgc6_card .card_text .ct_3 {
  font-size: 1.4rem;
  justify-content: space-between;
  padding-right: 20px;
}

.wg_13 .wg6_bottom .wg6b_ca .wgc6_card .card_text .ct_3 p {
  margin: 0;
}

.wg_13 .wg6_bottom .wg6b_ca .wgc6_card .card_text .ct_3 p:last-child {
  color: #6B6B6B;
}

.wg_13 .wg6_bottom .wg6b_ca .wgc6_card .card_text .ct_2 {
  font-size: 1.2rem;
  font-weight: 800;
  color: #FF7D04;
}

.wg_13 .wgc7l_2 {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.wg_13 .wgc7l_2 #pageBar button {
  width: 30px;
  height: 30px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #753422;
  background-color: white;
  border: 1px solid #D79771;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

.wg_13 .wgc7l_2 #pageBar .checked {
  color: white;
  background-color: #753422;
  border: 1px solid #753422;
}

.wg_13 .wgc7l_2 #pageBar button:hover {
box-shadow: 3px 3px 5px rgba(117, 52, 34, 0.3);
}

.wg_13 .wgc7l_2 #pageBar button:first-child,
.wg_13 .wgc7l_2 #pageBar button:last-child {
  border: none;
  font-size: 2.6rem;
}

.wg_13 .wgc7l_2 .top_link a {
  color: #753422;
  font-size: 1.8rem;
  text-decoration: none;
}

.wg_13 .wgc7l_2 .top_link a:hover {
  color: #D79771;
}