<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.finalproject.petkage.wherego.model.mapper.WheregoMapper">
	<sql id="selectMemberSql">
		SELECT *
		FROM WHEREWEGO
	</sql>
	
	<!-- wherego -->
	<resultMap type="Wherego" id="wheregovo">
		<id property="spotNo" column="SPOT_NO" />
		<result property="userNo" column="USER_NO" />
		<result property="spotCategory" column="SPOT_CATEGORY" />
		<result property="spotLocation" column="SPOT_LOCATION" />
		<result property="spotName" column="SPOT_NAME" />
		<result property="spotAddress" column="SPOT_ADDRESS" />
		<result property="spotSize" column="SPOT_SIZE" />
		<result property="ameni" column="SPOT_AMENI" />
		<result property="img" column="SPOT_IMG" />
		<result property="renameImg" column="SPOT_RENAMEIMG" />
		<result property="theme" column="SPOT_THEME" />
		<result property="introduce" column="SPOT_INTRODUCE" />
		<result property="info" column="SPOT_INFO" />
		<result property="spotStatus" column="SPOT_STATUS" />
		<result property="spotMap" column="SPOT_MAP" />
		<result property="roomNum" column="SPOT_ROOMNUM" />
	</resultMap>
	
	<!-- room -->
	<resultMap type="Room" id="RoomResultMap">
		<id property="roomNo" column="ROOM_NO" />
		<result property="spotNo" column="SPOT_NO" />
		<result property="roomName" column="ROOM_NAME" />
		<result property="roomPrice" column="ROOM_PRICE" />
		<result property="roomImg" column="ROOM_IMG" />
		<result property="renamdRoomImg" column="ROOM_RENAMEIMG" />
		<result property="mInfo" column="ROOM_MINFO" />
		<result property="mAmeni" column="ROOM_MAMENI" />
		<result property="roomStatus" column="ROOM_STATUS" />
	</resultMap>
	<resultMap type="Wherego" id="inRoomResultMap" extends="wheregovo">
		<collection property="Room" javaType="arraylist" columnPrefix="R_" resultMap="RoomResultMap" />
	</resultMap>
	
	<select id="lodging_board" parameterType="_int" resultMap="inRoomResultMap">
		SELECT W.SPOT_NO,
			W.USER_NO,
			W.SPOT_CATEGORY,
			W.SPOT_LOCATION,
			W.SPOT_NAME,
			W.SPOT_ADDRESS,
			W.SPOT_SIZE,
			W.SPOT_AMENI,
			W.SPOT_IMG,
			W.SPOT_RENAMEIMG,
			W.SPOT_THEME,
			W.SPOT_INTRODUCE,
			W.SPOT_INFO,
			W.SPOT_STATUS,
			W.SPOT_MAP,
			W.SPOT_ROOMNUM,
			R.ROOM_PRICE AS "R_ROOM_PRICE"
		FROM WHEREWEGO W
		JOIN ROOM R ON (R.SPOT_NO = W.SPOT_NO)
		WHERE SPOT_CATEGORY = '숙소' AND SPOT_STATUS = 'Y'
	</select>
	
	<select id="cafe_board" resultMap="wheregovo">
		SELECT *
		FROM WHEREWEGO
		WHERE SPOT_CATEGORY = '카페' AND SPOT_STATUS = 'Y'
	</select>
	
	<select id="food_board" resultMap="wheregovo">
		SELECT *
		FROM WHEREWEGO
		WHERE SPOT_CATEGORY = '맛집' AND SPOT_STATUS = 'Y'
	</select>
	
	<select id="hair_board" resultMap="wheregovo">
		SELECT *
		FROM WHEREWEGO
		WHERE SPOT_CATEGORY = '미용' AND SPOT_STATUS = 'Y'
	</select>
	
	<select id="trip_board" resultMap="wheregovo">
		SELECT *
		FROM WHEREWEGO
		WHERE SPOT_CATEGORY = '여행지' AND SPOT_STATUS = 'Y'
	</select>
	
	<select id="hospital_board" resultMap="wheregovo">
		SELECT *
		FROM WHEREWEGO
		WHERE SPOT_CATEGORY = '동물병원' AND SPOT_STATUS = 'Y'
	</select>
	
	<select id="preschool_board" resultMap="wheregovo">
		SELECT *
		FROM WHEREWEGO
		WHERE SPOT_CATEGORY = '유치원' AND SPOT_STATUS = 'Y'
	</select>
	
	<select id="bath_board" resultMap="wheregovo">
		SELECT *
		FROM WHEREWEGO
		WHERE SPOT_CATEGORY = '셀프목욕' AND SPOT_STATUS = 'Y'
	</select>
	
	<select id="petsitter_board" resultMap="wheregovo">
		SELECT *
		FROM WHEREWEGO
		WHERE SPOT_CATEGORY = '펫시터' AND SPOT_STATUS = 'Y'
	</select>
	
	<select id="search_list_lod" resultType="_int" parameterType="String">
        SELECT COUNT(*) 
        FROM WHEREWEGO
        WHERE SPOT_NAME LIKE '%'||#{all_search}||'%' OR
        	  SPOT_NAME LIKE INITCAP('%'||#{all_search}||'%') OR
        	  SPOT_NAME LIKE LOWER('%'||#{all_search}||'%') OR
        	  SPOT_NAME LIKE UPPER('%'||#{all_search}||'%')
    </select>
    
    <select id="search_board_lod" resultMap="wheregovo" parameterType="String">
   		SELECT * 
   		FROM WHEREWEGO
   		WHERE SPOT_NAME LIKE '%'||#{all_search}||'%' OR
        	  SPOT_NAME LIKE INITCAP('%'||#{all_search}||'%') OR
        	  SPOT_NAME LIKE LOWER('%'||#{all_search}||'%') OR
        	  SPOT_NAME LIKE UPPER('%'||#{all_search}||'%')
    </select>
	
	<!-- 어디가지 숙소 insert -->
	<insert id="insertWherego" parameterType="Wherego" useGeneratedKeys="true" keyProperty="spotNo" keyColumn="SPOT_NO">
    	INSERT INTO WHEREWEGO (
    		SPOT_NO,
			USER_NO,
			SPOT_CATEGORY,
			SPOT_LOCATION,
			SPOT_NAME,
			SPOT_ADDRESS,
			SPOT_SIZE,
			SPOT_AMENI,
			SPOT_IMG,
			SPOT_RENAMEIMG,
			SPOT_THEME,
			SPOT_INTRODUCE,
			SPOT_INFO,
			SPOT_STATUS,
			SPOT_MAP,
			SPOT_ROOMNUM
    	) VALUES (
	    	SEQ_SPOT_NO.NEXTVAL, 
	    	1,
	    	'숙소', 
	    	#{ spotLocation }, 
	    	#{ spotName }, 
	    	#{ spotAddress }, 
	    	#{ spotSize }, 
	    	#{ ameni }, 
	    	#{ img }, 
	    	#{ renameImg }, 
	    	#{ theme }, 
	    	#{ introduce }, 
	    	#{ info }, 
	    	DEFAULT, 
	    	#{ spotMap },
	    	#{ roomNum }
    	)
    </insert>
    
    <!-- 어디가지 객실 insert -->
	<insert id="insertRoom" parameterType="Room" useGeneratedKeys="true" keyProperty="roomNo" keyColumn="ROOM_NO">
	    INSERT INTO WHEREWEGO (
	    		ROOM_NO,
				SPOT_NO,
				ROOM_NAME,
				ROOM_PRICE,
				ROOM_IMG,
				ROOM_RENAMEIMG,
				ROOM_MINFO,
				ROOM_MAMENI,
				ROOM_STATUS,
	    	) VALUES (
		    	SEQ_ROOM_NO.NEXTVAL, 
		    	#{ spotNo },
		    	#{ roomName }, 
		    	#{ roomPrice }, 
		    	#{ roomImg }, 
		    	#{ renameRoomImg }, 
		    	#{ mInfo }, 
		    	#{ mAmeni }, 
		    	#{ roomStatus }
	    	)
   	</insert>
</mapper>