<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.finalproject.petkage.wherego.model.mapper.WheregoMapper">
	<sql id="selectMemberSql">
		SELECT *
		FROM WHEREWEGO
	</sql>
	
	<resultMap type="Wherego" id="wheregovo">
		<id property="spotNo" column="SPOT_NO" />
		<result property="userNo" column="USER_NO" />
		<result property="spotCategory" column="SPOT_CATEGORY" />
		<result property="spotLocation" column="SPOT_LOCATION" />
		<result property="spotName" column="SPOT_NAME" />
		<result property="spotAddress" column="SPOT_ADDRESS" />
		<result property="spotSize" column="SPOT_SIZE" />
		<result property="ameni" column="SPOT_AMENI" />
		<result property="img" column="SPOT_IMG" />
		<result property="theme" column="SPOT_THEME" />
		<result property="introduce" column="SPOT_INTRODUCE" />
		<result property="info" column="SPOT_INFO" />
		<result property="minfo" column="SPOT_MINFO" />
		<result property="mameni" column="SPOT_MAMENI" />
		<result property="price" column="SPOT_PRICE" />
		<result property="rimg" column="SPOT_RIMG" />
		<result property="subinfo" column="SPOT_SUBINFO" />
		<result property="spotstatus" column="SPOT_STATUS" />
		
	</resultMap>
	
	<select id="lodging_board" resultMap="wheregovo">
		SELECT *
		FROM WHEREWEGO
		WHERE SPOT_CATEGORY = '숙소' AND SPOT_STATUS = 'Y'
	</select>
	
	<select id="cafe_board" resultMap="wheregovo">
		SELECT *
		FROM WHEREWEGO
		WHERE SPOT_CATEGORY = '카페' AND SPOT_STATUS = 'Y'
	</select>
	
	<select id="food_board" resultMap="wheregovo">
		SELECT *
		FROM WHEREWEGO
		WHERE SPOT_CATEGORY = '맛집' AND SPOT_STATUS = 'Y'
	</select>
	
	<select id="hair_board" resultMap="wheregovo">
		SELECT *
		FROM WHEREWEGO
		WHERE SPOT_CATEGORY = '미용' AND SPOT_STATUS = 'Y'
	</select>
	
	<select id="trip_board" resultMap="wheregovo">
		SELECT *
		FROM WHEREWEGO
		WHERE SPOT_CATEGORY = '여행지' AND SPOT_STATUS = 'Y'
	</select>
	
	<select id="hospital_board" resultMap="wheregovo">
		SELECT *
		FROM WHEREWEGO
		WHERE SPOT_CATEGORY = '동물병원' AND SPOT_STATUS = 'Y'
	</select>
	
	<select id="preschool_board" resultMap="wheregovo">
		SELECT *
		FROM WHEREWEGO
		WHERE SPOT_CATEGORY = '유치원' AND SPOT_STATUS = 'Y'
	</select>
	
	<select id="bath_board" resultMap="wheregovo">
		SELECT *
		FROM WHEREWEGO
		WHERE SPOT_CATEGORY = '셀프목욕' AND SPOT_STATUS = 'Y'
	</select>
	
	<select id="petsitter_board" resultMap="wheregovo">
		SELECT *
		FROM WHEREWEGO
		WHERE SPOT_CATEGORY = '펫시터' AND SPOT_STATUS = 'Y'
	</select>
	
	
	<select id="search_list_lod" resultType="_int" parameterType="String">
        SELECT COUNT(*) 
        FROM WHEREWEGO
        WHERE SPOT_NAME LIKE '%'||#{search}||'%'
    </select>
    
    <select id="search_board_lod" resultMap="wheregovo" parameterType="String">
   		SELECT * 
   		FROM WHEREWEGO
   		WHERE SPOT_NAME LIKE '%'||#{search}||'%' 
    </select>
	
</mapper>