@charset "UTF-8";
@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
font-family: "GmarketSansMedium";
}

.nt .card-header{
    background-color: white;
    border-bottom: #6b6b6b 0.5px solid;
    <!-- 
    	cursor: pointer; 
    --!>
}

.nt .card-header .two{
    background-color: white;
    border-top: #6b6b6b 0.5px solid;
}

.nt .nt_header{
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
    background: #FEDDB2;
    align-items: center;
    width: 1110px;
}

.nt .b-btn {
        background-color: #d79771;
        color: white;
        font-size: 0.7em;
        font-weight: bold;
        width: 100px;
        height: 40px;
        margin-left: 20px;
        border-radius: 10px;
        border-style: none;
}

.nt .nt_big{
    border: #D6d6d6 2px solid;
}

.nt .nt_small{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.nt .nt_write{
	width:900px; 
	text-align: center;
	margin: auto;
}

.nt .nt_no{
    display: inline-block; 
    width: 30px; 
    text-align: center;
}

.nt .nt_title{
    display: inline-block; 
    padding-left: 30px; 
    width: 725px;
    font-weight: bold;
}

.nt .nt_ud{
    display: inline-block; 
    width: 40px;
    color: #6b6b6b;
    font-size: 0.8em;
}

.nt .nt_date{
    display: inline-block; 
    width: 135px;
}

.nt .down{
    font-size: 1.5em;
    font-weight: bold;
    color: #803D3D;
}

.nt table{
    border-spacing: 1px;
    border-color: white;
}

.nt .nt_content{
    margin-left: 60px;
    line-height: 30px;
    width: 900px;
}

.nt .nt_inner{
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
    background-image: url('${ path }/resources/images/notice/Rectangle 2051.png');
    height : 150px;

}

.nt .nt_search{
	width: 650px;
	height: 40px;
	padding-left: 30px;
	border: 3px solid #753422;
	border-radius: 30px;
}

.nt .nt_btn{
	border : none;	
	background: transparent;
    font-weight: 400;
}

.nt .btn-custom,.btn:active,.btn-customlr {
    outline: none !important;
    box-shadow: none !important;
}

.nt .btn-custom {
	background-color: white;
	color: 753422;
	border-color: 753422;
	border-style : solid;
	border-width: 3px;
}

.nt .btn-custon:disabled,.btn:disabled{
	background-color: 3a170d;
	color : white;
	border-color: 3a170d;
  	border-style : solid;
  	border-width: 3px;
}

.nt .btn-customlr {
	background-color: white;
	border-color: white !important;
	font-style: 10px solid;
}

.nt .nt_inner{
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
    height : 150px;
}
