<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.finalproject.petkage.market.model.mapper.MarketMapper">
	<resultMap type="Product" id="productListResultMap">
		<id property="proNo" column="PRO_NO"/>
		<result property="proSelNo" column="PRO_SEL_NO"/>
		<result property="proName" column="PRO_NAME"/>
		<result property="proBrand" column="PRO_BRAND"/>
		<result property="proCategory1" column="PRO_CATEGORY1"/>
		<result property="proCategory2" column="PRO_CATEGORY2"/>
		<result property="proTag" column="PRO_TAG"/>
		<result property="renamedFileName" column="PRO_IMG"/>
		<result property="proQty" column="PRO_QTY"/>
		<result property="proOPrice" column="PRO_OPRICE"/>
		<result property="proSPrice" column="PRO_SPRICE"/>
		<result property="proDelFee" column="PRO_DEL_FEE"/>
		<result property="proLTime" column="PRO_LTIME"/>
		<result property="proContent" column="PRO_CONTENT"/>
		<result property="proRDate" column="PRO_RDATE"/>
		<result property="proStatus" column="PRO_STATUS"/>
		<result property="proRepCount" column="PRO_REP_COUNT"/>
	</resultMap>
	
	<resultMap type="Cart" id="cartListResultMap">
		<id property="cartNo" column="CART_NO"/>
		<result property="no" column="CART_MEM_NO"/>
		<result property="proNo" column="PRO_NO"/>
		<result property="proCount" column="PRO_COUNT"/>
		<result property="proName" column="PRO_NAME"/>
		<result property="proBrand" column="PRO_BRAND"/>
		<result property="renamedFileName" column="PRO_IMG"/>
		<result property="proOPrice" column="PRO_OPRICE"/>
		<result property="proSPrice" column="PRO_SPRICE"/>
		<result property="proDelFee" column="PRO_DEL_FEE"/>
		<result property="proLTime" column="PRO_LTIME"/>
	</resultMap>

	<sql id="productListSql">
		SELECT P.PRO_NO,
			   P.PRO_SEL_NO,
			   P.PRO_NAME,
			   P.PRO_BRAND,
			   P.PRO_CATEGORY1,
			   P.PRO_CATEGORY2,
			   P.PRO_TAG,
			   P.PRO_IMG,
			   P.PRO_QTY,
			   P.PRO_OPRICE,
			   P.PRO_SPRICE,
			   P.PRO_DEL_FEE,
			   P.PRO_LTIME,
			   P.PRO_CONTENT,
			   P.PRO_RDATE,
			   P.PRO_STATUS,
			   P.PRO_REP_COUNT
		FROM PRODUCT P
		JOIN MEMBER M ON(P.PRO_SEL_NO = M.MEM_NO)
		WHERE P.PRO_STATUS = 'Y' 
			AND (PRO_NAME || PRO_TAG LIKE '%' || #{searchValue} || '%')
			AND PRO_CATEGORY1 LIKE '%' || #{proCategory1} || '%'
			AND PRO_CATEGORY2 LIKE '%' || #{proCategory2} || '%'
	</sql>
		
	<select id="selectProductCount" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT WHERE PRO_STATUS='Y'
	</select>
	
	<select id="selectProductList" resultMap="productListResultMap">
		<include refid="productListSql" />
		ORDER BY P.PRO_NO DESC
	</select>
	
	<select id="sortProductListFromLowest" resultMap="productListResultMap">
		<include refid="productListSql" />
		ORDER BY P.PRO_NO DESC
	</select>
	
	<select id="sortProductListFromHighest" resultMap="productListResultMap">
		<include refid="productListSql" />
		ORDER BY P.PRO_NO ASC
	</select>
	<select id="selectProductSearchList" resultMap="productListResultMap">
		SELECT P.PRO_NO,
			   P.PRO_SEL_NO,
			   P.PRO_NAME,
			   P.PRO_BRAND,
			   P.PRO_CATEGORY1,
			   P.PRO_CATEGORY2,
			   P.PRO_TAG,
			   P.PRO_IMG,
			   P.PRO_QTY,
			   P.PRO_OPRICE,
			   P.PRO_SPRICE,
			   P.PRO_DEL_FEE,
			   P.PRO_LTIME,
			   P.PRO_CONTENT,
			   P.PRO_RDATE,
			   P.PRO_STATUS,
			   P.PRO_REP_COUNT
		FROM PRODUCT P
		JOIN MEMBER M ON(P.PRO_SEL_NO = M.MEM_NO)
		WHERE P.PRO_STATUS = 'Y' 
			AND (PRO_NAME || PRO_TAG LIKE '%' || #{searchValue} || '%')
		ORDER BY P.PRO_NO DESC
	</select>
	
	<select id="selectProductByNo" parameterType="_int"  resultMap="productListResultMap">
		SELECT P.PRO_NO,
			   P.PRO_SEL_NO,
			   P.PRO_NAME,
			   P.PRO_BRAND,
			   P.PRO_CATEGORY1,
			   P.PRO_CATEGORY2,
			   P.PRO_TAG,
			   P.PRO_IMG,
			   P.PRO_QTY,
			   P.PRO_OPRICE,
			   P.PRO_SPRICE,
			   P.PRO_DEL_FEE,
			   P.PRO_LTIME,
			   P.PRO_CONTENT,
			   P.PRO_RDATE,
			   P.PRO_STATUS,
			   P.PRO_REP_COUNT
		FROM PRODUCT P
		JOIN MEMBER M ON(P.PRO_SEL_NO = M.MEM_NO)
		WHERE P.PRO_STATUS = 'Y' AND P.PRO_NO = #{proNo}
	</select>
	
	<insert id="registerProduct" parameterType="Product" useGeneratedKeys="true" keyProperty="proNo" keyColumn="PRO_NO">
		INSERT INTO PRODUCT (
		    PRO_NO,
		    PRO_SEL_NO,
		    PRO_NAME,
		    PRO_BRAND,
		    PRO_CATEGORY1,
		    PRO_CATEGORY2,
		    PRO_TAG,
		    PRO_IMG,
		    PRO_QTY,
		    PRO_OPRICE,
		    PRO_SPRICE,
		    PRO_DEL_FEE,
		    PRO_LTIME,
		    PRO_CONTENT,
		    PRO_RDATE,
		    PRO_STATUS,
		    PRO_REP_COUNT
		) VALUES (
		    SEQ_PRO_NO.NEXTVAL,
		    #{proSelNo},
		    #{proName},
		    #{proBrand},
		    #{proCategory1},
		    #{proCategory2},
   		    #{proTag},
		    #{renamedFileName},
		    #{proQty},
   		    #{proOPrice},
		    #{proSPrice},
		    #{proDelFee},
			#{proLTime},
			#{proContent},
			DEFAULT,
			DEFAULT,
			DEFAULT
		)
	</insert>
	
	<insert id="updateProduct" parameterType="Product">
		UPDATE PRODUCT
			<trim prefix="SET" suffixOverrides=",">
				<if test="proName != null">
					PRO_NAME = #{ proName },
				</if>
				<if test="proBrand != null">
					PRO_BRAND = #{ proBrand },
				</if>
				<if test="proCategory1 != null">
					PRO_CATEGORY1 = #{ proCategory1 },
				</if>
				<if test="proCategory2 != null">
					PRO_CATEGORY2 = #{ proCategory2 },
				</if>
				<if test="proTag != null">
					PRO_TAG = #{ proTag },
				</if>
				<if test="renamedFileName != null">
					PRO_IMG = #{ renamedFileName },
				</if>
				<if test="proQty != null">
					PRO_QTY = #{ proQty },
				</if>
				<if test="proOPrice != null">
					PRO_OPRICE = #{ proOPrice },
				</if>
				<if test="proSPrice != null">
					PRO_SPRICE = #{ proSPrice },
				</if>
				<if test="proDelFee != null">
					PRO_DEL_FEE = #{ proDelFee },
				</if>
				<if test="proLTime != null">
					PRO_LTIME = #{ proLTime },
				</if>
				<if test="proContent != null">
					PRO_CONTENT = #{ proContent }
				</if>
			</trim>
		WHERE PRO_NO = #{ proNo }
	</insert>
	
	<insert id="updateProductStatus" parameterType="map">
		UPDATE PRODUCT SET PRO_STATUS = #{ proStatus } WHERE PRO_NO = #{ proNo }
	</insert>
	
	<insert id="addCart" parameterType="Cart" useGeneratedKeys="true" keyProperty="cartNo" keyColumn="CART_NO">
		INSERT INTO CART (
			CART_NO,
			CART_MEM_NO,
			PRO_NO,
			PRO_COUNT
		) VALUES (
			SEQ_PRO_NO.NEXTVAL,
			#{ no },
			#{ proNo },
			#{ proCount }
		)
	</insert>
		
	<insert id="deleteCart">
		DELETE FROM CART WHERE CART_NO = #{ cartNo }
	</insert>
	
	<update id="updateCart">
		UPDATE CART SET PRO_COUNT = #{ proCount } WHERE CART_NO = #{ cartNo }
	</update>
	
	<select id="getCartList" resultMap="cartListResultMap">
		SELECT C.CART_NO, 
			   C.CART_MEM_NO,
			   C.PRO_NO,
			   C.PRO_COUNT, 
			   P.PRO_NAME, 
			   P.PRO_BRAND, 
			   P.PRO_IMG, 
			   P.PRO_OPRICE, 
			   P.PRO_SPRICE,
			   P.PRO_DEL_FEE,
			   P.PRO_LTIME
		FROM CART C
		LEFT JOIN PRODUCT P ON(C.PRO_NO = P.PRO_NO)
		WHERE C.CART_MEM_NO = #{ no }
	</select>
	
	<select id="checkCart" resultMap="cartListResultMap">
		SELECT CART_NO, 
			   CART_MEM_NO,
			   PRO_NO,
			   PRO_COUNT
		FROM CART
		WHERE CART_MEM_NO = #{ no } AND PRO_NO = #{ proNo }
	</select>
</mapper>