<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.finalproject.petkage.market.model.mapper.MarketMapper">
	<resultMap type="Product" id="productListResultMap">
		<id property="proNo" column="PRO_NO"/>
		<result property="proSelNo" column="PRO_SEL_NO"/>
		<result property="proName" column="PRO_NAME"/>
		<result property="proBrand" column="PRO_BRAND"/>
		<result property="proCategory1" column="PRO_CATEGORY1"/>
		<result property="proCategory2" column="PRO_CATEGORY2"/>
		<result property="proTag" column="PRO_TAG"/>
		<result property="renamedFileName" column="PRO_IMG"/>
		<result property="proQty" column="PRO_QTY"/>
		<result property="proOPrice" column="PRO_OPRICE"/>
		<result property="proSPrice" column="PRO_SPRICE"/>
		<result property="proDelFee" column="PRO_DEL_FEE"/>
		<result property="proLTime" column="PRO_LTIME"/>
		<result property="proContent" column="PRO_CONTENT"/>
		<result property="proRDate" column="PRO_RDATE"/>
		<result property="proStatus" column="PRO_STATUS"/>
		<result property="proRevCount" column="PRO_REVIEW_COUNT"/>
		<result property="proRating" column="PRO_RATING"/>
	</resultMap>
	
	<resultMap type="Cart" id="cartListResultMap">
		<id property="cartNo" column="CART_NO"/>
		<result property="no" column="CART_MEM_NO"/>
		<result property="proNo" column="PRO_NO"/>
		<result property="proCount" column="PRO_COUNT"/>
		<result property="proName" column="PRO_NAME"/>
		<result property="proBrand" column="PRO_BRAND"/>
		<result property="renamedFileName" column="PRO_IMG"/>
		<result property="proOPrice" column="PRO_OPRICE"/>
		<result property="proSPrice" column="PRO_SPRICE"/>
		<result property="proDelFee" column="PRO_DEL_FEE"/>
		<result property="proLTime" column="PRO_LTIME"/>
	</resultMap>

	<resultMap type="Payment" id="orderResultMap">
		<id property="payNo" column="PAY_NO"/>
		<result property="no" column="PAY_MEM_NO"/>
		<result property="address" column="PAY_ADDRESS"/>
		<result property="subaddress" column="PAY_SUBADDRESS"/>
		<result property="payMehotd" column="PAY_METHOD"/>
		<result property="totalDelFee" column="PAY_DEL_FEE"/>
		<result property="totalPrice" column="PAY_PRICE"/>
		<result property="usingPoint" column="PAY_USING_POINT"/>
		<result property="totalSavingPoint" column="PAY_SAVING_POINT"/>
		<result property="totalPriceAfterUsingPoint" column="PAY_FINAL_PRICE"/>
		<result property="orderComment" column="PAY_COMMENT"/>
		<result property="orderStatus" column="PAY_STATUS"/>
		<result property="payCreatedAt" column="PAY_CREATED_AT"/>
	</resultMap>

	<resultMap type="PayItems" id="orderListResultMap">
		<id property="payItemNo" column="PAY_ITEM_NO"/>
		<result property="payNo" column="PAY_NO"/>
		<result property="proNo" column="PRO_NO"/>
		<result property="proCount" column="PRO_COUNT"/>
		<result property="proName" column="PRO_NAME"/>
		<result property="proBrand" column="PRO_BRAND"/>
		<result property="proOPrice" column="PRO_OPRICE"/>
		<result property="proSPrice" column="PRO_SPRICE"/>
		<result property="renamedFileName" column="PRO_IMG"/>
		<result property="proDelFee" column="PRO_DEL_FEE"/>
		<result property="proLTime" column="PRO_LTIME"/>
		<result property="eachProTotalPrice" column="PRO_FINAL_PRICE"/>
		<result property="savingPoint" column="PRO_SAVING_POINT"/>
	</resultMap>

	<resultMap type="Member" id="memberResultMap">
		<id property="no" column="MEM_NO" />
		<result property="userId" column="MEM_ID"/>
		<result property="userPwd" column="MEM_PWD"/>
		<result property="userName" column="MEM_NAME"/>
		<result property="userPhone" column="MEM_PHONE"/>
		<result property="zonecode" column="MEM_ZONECODE"/>
		<result property="userAddress" column="MEM_ADDRESS"/>
		<result property="addressSub" column="MEM_SUBADDRESS"/>
		<result property="userEmail" column="MEM_EMAIL"/>
		<result property="point" column="MEM_POINT"/>
		<result property="report" column="MEM_REPORT"/>
		<result property="memberRole" column="MEM_ROLE"/>
		<result property="status" column="MEM_STATUS"/>
		<result property="enrolldate" column="MEM_ENROLLDATE"/>
		<result property="petYN" column="MEM_PETYN"/>
		<result property="findNum" column="MEM_FINDNUM"/>
	</resultMap>

	<resultMap type="Review" id="reviewResultMap">
		<id property="revno" column="REV_NO"/>
		<result property="prono" column="REV_PRO_NO"/>
		<result property="writerno" column="REV_WRITER_NO"/>
		<result property="revcoment" column="REV_CONTENT"/>
		<result property="revdate" column="REV_DATE"/>
		<result property="revscore" column="REV_SCORE"/>
		<result property="revscore" column="REV_SCORE"/>
		<result property="revrenameimg" column="REV_RENAMEIMG"/>
		<result property="revstatus" column="REV_STATUS"/>
		<result property="memname" column="MEM_NAME"/>
	</resultMap>

	<sql id="productListSql">
		SELECT P.PRO_NO,
			   P.PRO_SEL_NO,
			   P.PRO_NAME,
			   P.PRO_BRAND,
			   P.PRO_CATEGORY1,
			   P.PRO_CATEGORY2,
			   P.PRO_TAG,
			   P.PRO_IMG,
			   P.PRO_QTY,
			   P.PRO_OPRICE,
			   P.PRO_SPRICE,
			   P.PRO_DEL_FEE,
			   P.PRO_LTIME,
			   P.PRO_CONTENT,
			   P.PRO_RDATE,
			   P.PRO_STATUS,
			   P.PRO_REVIEW_COUNT,
			   P.PRO_RATING
		FROM PRODUCT P
		JOIN MEMBER M ON(P.PRO_SEL_NO = M.MEM_NO)
		WHERE P.PRO_STATUS = 'Y' 
			AND (PRO_NAME || PRO_TAG LIKE '%' || #{searchValue} || '%')
			AND PRO_CATEGORY1 LIKE '%' || #{proCategory1} || '%'
			AND PRO_CATEGORY2 LIKE '%' || #{proCategory2} || '%'
	</sql>
		
	<select id="selectProductCount" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT WHERE PRO_STATUS='Y'
	</select>
	
	<select id="selectProductList" resultMap="productListResultMap">
		<include refid="productListSql" />
		ORDER BY P.PRO_NO DESC
	</select>
	
	<select id="sortProductListFromLowest" resultMap="productListResultMap">
		<include refid="productListSql" />
		ORDER BY P.PRO_NO DESC
	</select>
	
	<select id="sortProductListFromHighest" resultMap="productListResultMap">
		<include refid="productListSql" />
		ORDER BY P.PRO_NO ASC
	</select>
	<select id="selectProductSearchList" resultMap="productListResultMap">
		SELECT P.PRO_NO,
			   P.PRO_SEL_NO,
			   P.PRO_NAME,
			   P.PRO_BRAND,
			   P.PRO_CATEGORY1,
			   P.PRO_CATEGORY2,
			   P.PRO_TAG,
			   P.PRO_IMG,
			   P.PRO_QTY,
			   P.PRO_OPRICE,
			   P.PRO_SPRICE,
			   P.PRO_DEL_FEE,
			   P.PRO_LTIME,
			   P.PRO_CONTENT,
			   P.PRO_RDATE,
			   P.PRO_STATUS,
			   P.PRO_REVIEW_COUNT,
			   P.PRO_RATING
		FROM PRODUCT P
		JOIN MEMBER M ON(P.PRO_SEL_NO = M.MEM_NO)
		WHERE P.PRO_STATUS = 'Y' 
			AND (PRO_NAME || PRO_TAG LIKE '%' || #{searchValue} || '%')
		ORDER BY P.PRO_NO DESC
	</select>
	
	<select id="selectProductByNo" parameterType="_int"  resultMap="productListResultMap">
		SELECT P.PRO_NO,
			   P.PRO_SEL_NO,
			   P.PRO_NAME,
			   P.PRO_BRAND,
			   P.PRO_CATEGORY1,
			   P.PRO_CATEGORY2,
			   P.PRO_TAG,
			   P.PRO_IMG,
			   P.PRO_QTY,
			   P.PRO_OPRICE,
			   P.PRO_SPRICE,
			   P.PRO_DEL_FEE,
			   P.PRO_LTIME,
			   P.PRO_CONTENT,
			   P.PRO_RDATE,
			   P.PRO_STATUS,
			   P.PRO_REVIEW_COUNT,
			   P.PRO_RATING
		FROM PRODUCT P
		JOIN MEMBER M ON(P.PRO_SEL_NO = M.MEM_NO)
		WHERE P.PRO_STATUS = 'Y' AND P.PRO_NO = #{proNo}
	</select>
	
	<insert id="registerProduct" parameterType="Product" useGeneratedKeys="true" keyProperty="proNo" keyColumn="PRO_NO">
		INSERT INTO PRODUCT (
		    PRO_NO,
		    PRO_SEL_NO,
		    PRO_NAME,
		    PRO_BRAND,
		    PRO_CATEGORY1,
		    PRO_CATEGORY2,
		    PRO_TAG,
		    PRO_IMG,
		    PRO_QTY,
		    PRO_OPRICE,
		    PRO_SPRICE,
		    PRO_DEL_FEE,
		    PRO_LTIME,
		    PRO_CONTENT,
		    PRO_RDATE,
		    PRO_STATUS,
		    PRO_REVIEW_COUNT,
		    PRO_RATING
		) VALUES (
		    SEQ_PRO_NO.NEXTVAL,
		    #{proSelNo},
		    #{proName},
		    #{proBrand},
		    #{proCategory1},
		    #{proCategory2},
   		    #{proTag},
		    #{renamedFileName},
		    #{proQty},
   		    #{proOPrice},
		    #{proSPrice},
		    #{proDelFee},
			#{proLTime},
			#{proContent},
			DEFAULT,
			DEFAULT,
			DEFAULT,
			#{proRating}
		)
	</insert>
	
	<insert id="updateProduct" parameterType="Product">
		UPDATE PRODUCT
			<trim prefix="SET" suffixOverrides=",">
				<if test="proName != null">
					PRO_NAME = #{ proName },
				</if>
				<if test="proBrand != null">
					PRO_BRAND = #{ proBrand },
				</if>
				<if test="proCategory1 != null">
					PRO_CATEGORY1 = #{ proCategory1 },
				</if>
				<if test="proCategory2 != null">
					PRO_CATEGORY2 = #{ proCategory2 },
				</if>
				<if test="proTag != null">
					PRO_TAG = #{ proTag },
				</if>
				<if test="renamedFileName != null">
					PRO_IMG = #{ renamedFileName },
				</if>
				<if test="proQty != null">
					PRO_QTY = #{ proQty },
				</if>
				<if test="proOPrice != null">
					PRO_OPRICE = #{ proOPrice },
				</if>
				<if test="proSPrice != null">
					PRO_SPRICE = #{ proSPrice },
				</if>
				<if test="proDelFee != null">
					PRO_DEL_FEE = #{ proDelFee },
				</if>
				<if test="proLTime != null">
					PRO_LTIME = #{ proLTime },
				</if>
				<if test="proContent != null">
					PRO_CONTENT = #{ proContent }
				</if>
			</trim>
		WHERE PRO_NO = #{ proNo }
	</insert>
	
	<insert id="updateProductStatus" parameterType="map">
		UPDATE PRODUCT SET PRO_STATUS = #{ proStatus } WHERE PRO_NO = #{ proNo }
	</insert>
	
	<insert id="addCart" parameterType="Cart" useGeneratedKeys="true" keyProperty="cartNo" keyColumn="CART_NO">
		INSERT INTO CART (
			CART_NO,
			CART_MEM_NO,
			PRO_NO,
			PRO_COUNT
		) VALUES (
			SEQ_PRO_NO.NEXTVAL,
			#{ no },
			#{ proNo },
			#{ proCount }
		)
	</insert>
		
	<insert id="deleteCart">
		DELETE FROM CART WHERE CART_NO = #{ cartNo }
	</insert>
	
	<update id="updateCart">
		UPDATE CART SET PRO_COUNT = #{ proCount } WHERE CART_NO = #{ cartNo }
	</update>
	
	<select id="getCartList" resultMap="cartListResultMap">
		SELECT C.CART_NO, 
			   C.CART_MEM_NO,
			   C.PRO_NO,
			   C.PRO_COUNT, 
			   P.PRO_NAME, 
			   P.PRO_BRAND, 
			   P.PRO_IMG, 
			   P.PRO_OPRICE, 
			   P.PRO_SPRICE,
			   P.PRO_DEL_FEE,
			   P.PRO_LTIME
		FROM CART C
		LEFT JOIN PRODUCT P ON(C.PRO_NO = P.PRO_NO)
		WHERE C.CART_MEM_NO = #{ no }
	</select>
	
	<select id="checkCart" resultMap="cartListResultMap">
		SELECT CART_NO, 
			   CART_MEM_NO,
			   PRO_NO,
			   PRO_COUNT
		FROM CART
		WHERE CART_MEM_NO = #{ no } AND PRO_NO = #{ proNo }
	</select>
	
	<select id="getItemsInfo" resultMap="orderListResultMap">
		SELECT PRO_NO,
			   PRO_NAME,
			   PRO_BRAND,
			   PRO_IMG,
			   PRO_OPRICE,
			   PRO_SPRICE,
			   PRO_DEL_FEE,
			   PRO_LTIME
		FROM PRODUCT
		WHERE PRO_NO = #{ proNo }
	</select>
	
	<select id="getMemberDeliveryInfo" resultMap="memberResultMap">
		SELECT MEM_NO,
			   MEM_NAME,
			   MEM_PHONE,
			   MEM_ZONECODE,
			   MEM_ADDRESS,
			   MEM_SUBADDRESS,
			   MEM_EMAIL,
			   MEM_POINT
		FROM MEMBER
		WHERE MEM_NO = #{ memNo }
	</select>
	
	<insert id="placeOrder" parameterType="KakaoPayReady" useGeneratedKeys="true" keyProperty="payNo" keyColumn="PAY_NO">
		INSERT INTO PAYMENT (
			PAY_NO,
			PAY_MEM_NO,
			PAY_ADDRESS,
			PAY_SUBADDRESS,
			PAY_METHOD,
			PAY_DEL_FEE,
			PAY_TOTAL_PRICE,
			PAY_USING_POINT,
			PAY_SAVING_POINT,
			PAY_FINAL_PRICE,
			PAY_COMMENT,
			PAY_STATUS,
			PAY_CREATED_AT
		) VALUES (
			#{ payNo },
			#{ no },
			#{ address },
			#{ subaddress },
			#{ payMethod },
			#{ totalDelFee },
			#{ totalPrice },
			#{ usingPoint },
			#{ totalSavingPoint },
			#{ totalPriceAfterUsingPoint },
			#{ orderComment },
			'결제완료',
			#{ payCreatedAt }
		)
	</insert>
	
	<insert id="placeOrderItems" parameterType="PayItems" useGeneratedKeys="true" keyProperty="payItemNo" keyColumn="PAY_ITEM_NO">
		INSERT INTO PAYMENT_ITEMS (
			PAY_ITEM_NO,
			PAY_NO,
			PRO_NO,
			PRO_COUNT,
			PRO_NAME,
			PRO_BRAND,
			PRO_OPRICE,
			PRO_SPRICE,
			PRO_IMG,
			PRO_DEL_FEE,
			PRO_LTIME,
			PRO_FINAL_PRICE,
			PRO_SAVING_POINT
		) VALUES (
			SEQ_PAY_ITEM_NO.NEXTVAL,
			#{ payNo },
			#{ proNo },
			#{ proCount },
			#{ proName },
			#{ proBrand },
			#{ proOPrice },
			#{ proSPrice },
			#{ renamedFileName },
			#{ proDelFee },
			#{ proLTime },
			#{ eachProTotalPrice },
			#{ savingPoint }
		)
	</insert>
	
	<update id="deductMemberPoint">
		UPDATE MEMBER SET MEM_POINT = #{ point } WHERE MEM_NO = #{ no }
	</update>
	
	<update id="deductProductStock">
		UPDATE PRODUCT SET PRO_QTY = #{ proQty } WHERE PRO_NO = #{ proNo }
	</update>
	
	<delete id="deleteCartOrder">
		DELETE FROM CART WHERE CART_MEM_NO = #{ no } AND PRO_NO = #{ proNo }
	</delete>
	
	<select id="getProductRating" resultMap="reviewResultMap">
		SELECT AVG(REV_SCORE)
		FROM REVIEW
		WHERE REV_PRO_NO = #{ proNo }
	</select>

	<update id="updateProductRating">
		UPDATE PRODUCT SET PRO_RATING = #{ proRatingAvg }
		WHERE PRO_NO = #{ proNo }
	</update>	
	
	<select id="getReviewCount" resultType="_int">
		SELECT COUNT(*) 
		FROM REVIEW 
		WHERE REV_PRO_NO = #{ prono } AND REV_STATUS='Y'
	</select>
	
	<select id="getReviewList" resultMap="reviewResultMap">
		SELECT M.MEM_NAME,
		       R.REV_CONTENT,
		       R.REV_RENAMEIMG,
		       REV_DATE,
		       R.REV_SCORE
		FROM REVIEW R
		JOIN MEMBER M ON M.MEM_NO = R.REV_WRITER_NO
		WHERE REV_PRO_NO = #{ prono } AND REV_STATUS='Y'
		ORDER BY REV_PRO_NO DESC
	</select>
	
	<!-- 상품 별점 순 4개,5개 리스트 -->
   	<select id="getListProductBest" resultMap="productListResultMap">
	   	<![CDATA[
		   	SELECT * 
			FROM (SELECT ROWNUM AS "R_NO", 
		                 PRO_NO,
		                 PRO_NAME,
                         PRO_BRAND,
		                 PRO_IMG,
                         PRO_CATEGORY1,
                         PRO_CATEGORY2,
                         PRO_TAG,
		                 PRO_RATING,
		                 PRO_STATUS
		   		  FROM (SELECT  *
		                FROM PRODUCT
		                WHERE PRO_RATING > 0 AND PRO_STATUS = 'Y'
		                ORDER BY PRO_RATING DESC))
		    WHERE 1 <= R_NO AND R_NO <= 4
	    ]]>
   	</select>
   	
   	<select id="getProNoName" resultMap="productListResultMap">	
		SELECT PRO_NO, 
			   PRO_NAME 
		FROM PRODUCT 
		WHERE PRO_NO = #{proNo}		
	</select>
	
</mapper>