@charset "UTF-8";

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}



.heart_15 {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 1110px;
  margin-top: 20px;
  margin-bottom: 50px;
}


  /* 카드 */

.heart_15 .wg6_bottom {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .heart_15 .wg6_bottom {
      width: 75%;
      margin: 0 auto;
      margin-right: 210px;
      float: left;
  }
}

.heart_15 .wg6_bottom .wg6b_ca {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.heart_15 .wg6_bottom .wg6b_ca .wgc6_card {
  width: 520px;
  height: 300px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

@media (max-width: 1023px) {
  .heart_15 .wg6_bottom .wg6b_ca .wgc6_card {
      width: 48%;
      height: 230px;
  }
}

.heart_15 .wg6_bottom .wg6b_ca .wgc6_card:hover {
  box-shadow: 5px 5px 10px rgba(117, 52, 34, 0.8);
}

.heart_15 .wg6_bottom .wg6b_ca .wgc6_card a {
text-decoration: none;
}

.heart_15 .wg6_bottom .wg6b_ca .wgc6_card .card_img {
  width: 520px;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}

@media (max-width: 1023px) {
  .heart_15 .wg6_bottom .wg6b_ca .wgc6_card .card_img {
      width: 100%;
      height: 150px;
  }
}


.heart_15 .wg6_bottom .wg6b_ca .wgc6_card img {
  width: 520px;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}

@media (max-width: 1023px) {
  .heart_15 .wg6_bottom .wg6b_ca .wgc6_card img {
      width: 100%;
      height: 150px;
  }
}


.heart_15 .wg6_bottom .wg6b_ca .wgc6_card .card_text{
  width: 520px;
  height: 100px;
}

@media (max-width: 1023px) {
  .heart_15 .wg6_bottom .wg6b_ca .wgc6_card .card_text {
      width: 100%;
      height: 80px;
  }
}

.heart_15 .wg6_bottom .wg6b_ca .wgc6_card .card_text .ct_1,
.heart_15 .wg6_bottom .wg6b_ca .wgc6_card .card_text .ct_2,
.heart_15 .wg6_bottom .wg6b_ca .wgc6_card .card_text .ct_3 {
  width: 100%;
  height: 33%;
  display: flex;
  align-items: center;
  font-size: 1.0rem;
  font-weight: 800;
  padding-left: 20px;
  color: black;
}

.heart_15 .wg6_bottom .wg6b_ca .wgc6_card .card_text .ct_3 {
  font-size: 0.9rem;
  justify-content: space-between;
  padding-right: 20px;
}

.heart_15 .wg6_bottom .wg6b_ca .wgc6_card .card_text .ct_3 p {
  margin: 0;
}

.heart_15 .wg6_bottom .wg6b_ca .wgc6_card .card_text .ct_3 p:last-child {
  color: #6B6B6B;
}

.heart_15 .wg6_bottom .wg6b_ca .wgc6_card .card_text .ct_2 {
  font-size: 0.9rem;
  font-weight: 800;
  color: #FF7D04;
}

.heart_15 .wgc7l_2 {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.heart_15 .wgc7l_2 #pageBar button {
  width: 30px;
  height: 50px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #753422;
  background-color: white;
  border: 1px solid #D79771;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

.heart_15 .wgc7l_2 #pageBar .checked {
  color: white;
  background-color: #753422;
  border: 1px solid #753422;
}

.heart_15 .wgc7l_2 #pageBar button:hover {
box-shadow: 3px 3px 5px rgba(117, 52, 34, 0.3);
}

.heart_15 .wgc7l_2 #pageBar button:first-child,
.heart_15 .wgc7l_2 #pageBar button:last-child {
  border: none;
  font-size: 2.6rem;
}
