@charset "UTF-8";

 @font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.prevmdfy .modifyBox {
    border: 5px solid #d9d9d9;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  
  .prevmdfy .userInfoBox > div > input {
    border-top: none;
    border-bottom: #ffebc9;
  }
  
  .prevmdfy .modifyBox {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .prevmdfy .modifyBox th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 17px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
    vertical-align: bottom;
    color: #6b6b6b;
    font-weight: bolder;
  }
  
  .prevmdfy .modifyBox td {
    padding: 0;
    text-align: left;
    margin: 0;
  }
  
  .prevmdfy .modifyInput {
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: #d9d9d9 3px solid;
    box-shadow: none;
    background-color: none;
    margin-top: 10px;
    float: right;
    padding: 10px;
    font-size: large;
    font-weight: 500;
  }

  .prevmdfy .md_button {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    /* border-top: 2px solid #b1b1b1; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.prevmdfy .md_button button {
    width: 150px;
    height: 50px;
    background: #753422;
    border: 2px solid #753422;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.prevmdfy .md_button button:hover {
    background: #fff;
    color: #753422;
}